* {
	box-sizing: border-box;
}

.chess-area {
	position: absolute;
	left: 25%;
	width: 950px;
}

.letters-line {
	display: block;
	font-size: 0;
	height: 90px;
}

.letters-field {
	display: inline-block;
	vertical-align: top;
	width: 90px;
	height: 90px;
	text-align: center;
	font-size: 48px;
	line-height: 90px;
}

.letters-field.info {
	margin-bottom: 20px;
}

.chess-line {
	display: block;
	font-size: 0;
	height: 90px;
}

.chess-field {
	display: inline-block;
	vertical-align: top;
	line-height: 90px;
	width: 90px;
	height: 90px;
	font-size: 14px;
	text-align: center;
	border: 1px solid #CEAD7C;
	cursor: pointer;
}

.chess-field.black {
	background-color: #CEAD7C;
}

/* .chess-field:hover {
	background-color: yellow;
} */

.figure {
	font-size: 72px;
}

.figure-init {
	transform: translate(0px, 0px) !important;
}